In [39]:
import keyword
(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
print('hello world',2+2,'this is python',sep=" ")

hello world 4 this is python

In [5]:
print('hello world',2+2,'this is python')
print('hello world',2+2,'this is python',sep="*")
print('hello world',2+2,'this is python',sep='')
print('hello world',2+2,'this is python',sep=" ")

hello world 4 this is python
hello world*4*this is python
hello world4this is python
hello world 4 this is python

In [7]:
print('hello world',2+2,'this is python')
print('Apple')
print('\n')

print('hello world',2+2,'this is python',end='*')
print('Apple')
print('\n')

print('hello world',2+2,'this is python',end='\n')
print('Apple')

hello world 4 this is python
Apple


hello world 4 this is python*Apple


hello world 4 this is python
Apple

In [11]:
print('Akil','Khan',sep='_')
print('Akil',end='_')
print('Khan')

Akil_Khan
Akil_Khan

In [12]:
c = 3.098j
print(type(c))

<class 'complex'>

In [14]:
r1 = range(0,5)
print(r1)
print(type(r1))

range(0, 5)
<class 'range'>

In [30]:
l1 = [1,4,2,'apple',67]
print(l1)

[1, 4, 2, 'apple', 67]

append
extend
insert
remove
delete

In [31]:
l1.append('append')
print(l1)

[1, 4, 2, 'apple', 67, 'append']

In [32]:
l1.extend('extend')

In [33]:
print(l1)

[1, 4, 2, 'apple', 67, 'append', 'e', 'x', 't', 'e', 'n', 'd']

In [34]:
l1.remove(2)
print(l1)

[1, 4, 'apple', 67, 'append', 'e', 'x', 't', 'e', 'n', 'd']

In [35]:
l1.insert(2,'insert')
print(l1)

[1, 4, 'insert', 'apple', 67, 'append', 'e', 'x', 't', 'e', 'n', 'd']

In [38]:
l1.pop()
print(l1)

[1, 4, 'insert', 'apple', 67, 'append', 'e', 'x', 't', 'e', 'n']

In [42]:
del l1[1]
print(l1)

[1, 'insert', 'apple', 67, 'append', 'e', 'x', 't', 'e', 'n']

In [43]:
d1 = { 'a':[1,2,3,4], 'b': [2,1,3,45], 'c': 'Apple'}
print(d1)

{'a': [1, 2, 3, 4], 'b': [2, 1, 3, 45], 'c': 'Apple'}

In [45]:
type(6/2)

float

In [46]:
a = 60
b = 13
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

12
61
49
-61
240
15

In [47]:
print(a,b)

60 13

In [48]:
print(78|12)
print(~78)

78
-79

In [52]:
l = float(input("Enter length:"))
b = float(input("Enter breadth:"))
area = l*b
print(area)

Enter length: 4
Enter breadth: 3

12.0

In [54]:
num1 = 10
num2 = 3

rem = num1 % num2
quo = num1 // num2

print(rem)
print(quo)

1
3

In [56]:
name = input('Enter name:')
age = int(input('Enter age:'))

print('Hello', name, 'Your age next year will be', age, 'years')

Enter name: akil
Enter age: 20

Hello akil Your age next year will be 20 years

In [61]:
def add(x,y):
    return x+y

def sub(x,y):
    return x-y

def mul(x,y):
    return x*y

def div(x,y):
    return x/y

x = float(input('Enter num1:'))
y = float(input('Enter num2:'))

op = input('Enter operator:')

match op:
    case '+':
        print(add(x,y))
    case '-':
        print(sub(x,y))
    case '*':
        print(mul(x,y))
    case '/':
        print(div(x,y))

Enter num1: 10
Enter num2: 2
Enter operator: +

12.0